.servies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1640px) {
  .servies {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1240px) {
  .servies {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  .servies {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .servies {
    grid-template-columns: repeat(1, 1fr);
  }
}
